<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
    <div class="card mt-4 card-rounded">
        <div class="card-header text-right">
            <img class="icon pointer" src='../../../../assets/cross.svg' (click)='close()'> 
        </div>
        <div class="card-body">
            <h4>Coupon Code:</h4>
            <p>SUMMERSALE10</p>
            <p>Use this coupon Code for getting 10% Discount in your Purchase</p>
            <div class="text-right">
                <button class="btn btn-success text-right" (click)='save("SUMMERSALE10")'>Save</button>
            </div>
        </div>
    </div>
</div>